.width50px {
    min-width: 50px !important;
    width: 50px !important;
}
.width60px {
    min-width: 60px !important;
    width: 60px !important;
}
.width70px {
    min-width: 70px !important;
    width: 70px !important;
}
.width80px {
    min-width: 80px !important;
    width: 80px !important;
}
.width90px {
    min-width: 90px !important;
    width: 90px !important;
}
.width100px {
    min-width: 100px !important;
    width: 100px !important;
}